<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>News</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=vietnamese"
      rel="stylesheet"
    />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="../../Css/common/common.css" />
    <link rel="stylesheet" href="../../Css/layout/news.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <div id="header"></div>
    </header>
    <!-- BANNER -->
    <div class="banner">
      <div class="banner-title">
        <div class="avt">
          <img src="../../Assets/img/banner-news.png" alt="" />
        </div>
        <div class="desc">
          <h1>
            <span>news</span>
          </h1>
          <img src="../../Assets/img/bg-tit.png" alt="" />
        </div>
      </div>
      <div class="top-connect">
        <img src="../../Assets/img/bg-abu.png" alt="" />
      </div>
      <div class="top-connect">
        <img src="../../Assets/img/bg-frs.png" alt="" />
      </div>
    </div>

    <!-- CONTENT -->
    <div class="page-news">
      <div class="container">
        <div class="news-box">
          <div class="item">
            <div class="item-border"></div>
            <div class="item-img">
              <img src="../../Assets/img/news-item.jpg" alt="" />
            </div>
            <div class="item-content">
              <div class="item-content-container">
                <h3>
                  <a href="#">LASAGNE AL FORNO</a>
                </h3>
                <p>
                  Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.
                  Lorem ipsum dolor. Mauris fermentum dictum magna. Sed laoreet
                  aliquam leo. Ut tellus dolor, dapibus eget,
                </p>
                <div class="read-more">
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="item-border"></div>
            <div class="item-content">
              <div class="item-content-container">
                <h3>
                  <a href="#">LASAGNE AL FORNO</a>
                </h3>
                <p>
                  Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.
                  Lorem ipsum dolor. Mauris fermentum dictum magna. Sed laoreet
                  aliquam leo. Ut tellus dolor, dapibus eget,
                </p>
                <div class="read-more">
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>
            <div class="item-img">
              <img src="../../Assets/img/news-item2.png" alt="" />
            </div>
          </div>

          <div class="item">
            <div class="item-border"></div>
            <div class="item-img">
              <img src="../../Assets/img/news-item3.png" alt="" />
            </div>
            <div class="item-content">
              <div class="item-content-container">
                <h3>
                  <a href="#">LASAGNE AL FORNO</a>
                </h3>
                <p>
                  Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.
                  Lorem ipsum dolor. Mauris fermentum dictum magna. Sed laoreet
                  aliquam leo. Ut tellus dolor, dapibus eget,
                </p>
                <div class="read-more">
                  <a href="#">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pagination"></div>
      </div>
    </div>

    <!-- Hotline -->
    <div class="fix-hotline">
      <a href="#">
        <img src="../../Assets/icon/hotline-fix.png" alt="" />
      </a>
    </div>

    <!-- Back to top -->
    <div class="back-top">
      <img src="../../Assets/icon/back-top.png" alt="" />
    </div>

    <!-- FOOTER -->
    <footer>
      <div id="footer"></div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $(function () {
        $("#header").load("../common/header.html");
        $("#footer").load("../common/footer.html");
      });
    </script>
    <script src="../../Js/custom.js"></script>
  </body>
</html>
